#reviews{
    background-color: #f4f4f4;
}

.box{
    background-color: rgba(63,69,97,0.75);
    border-radius: .5em;
    padding: 3em;
    border: .25em solid #f4f4f4;
    margin-bottom: 1em;
    margin-top: 1em;
}

.logo{
    display: flex;
    justify-content: center;
    align-content: center;
    /* text-align: center; */
    /* margin-bottom: 2em; */
}

.review-logos{
    max-height: 7em;
}

p{
    color: white;
    font-size: .8em;
}

.client{
    font-style: italic;
}


