.jumbotron {
    background-image: url('/assets/images/bg_rings.jpg');
    background-repeat: no-repeat;
    background-position: bottom-center;
    background-size: cover;
    padding-bottom:0px;
    /* height: 70vh; */
}

#think-be, #ppr-logo{
    margin-top: 1em;
    height:70vh; 
    padding: 0px;
}

#ppr-logo{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#think-be{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}